:root {
  /* Colores */
  --color-primary: #0f265c;
  --color-accent: #f5df66;
  --color-secondary-bg: #eaecf2;
  --color-border: #dee3ed;
  --color-input-border: #ccc;
  --color-text: #0f265c;
  --color-bg: #f4f6f9;
  --color-font: #6e6e73;
  --color-header: #f9fafc;
  --color-light: #dde0eb;
  --color-dark: #353535;

  --font-family-base: "Prelo-slab-semi-bold", sans-serif;

  /* Espaciados */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

html {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-font);
}

body {
  font-family: Prelo, sans-serif !important;
  margin: 0;
}

h2 {
  font-family: var(--font-family-base);
  color: black;
  margin: 0;
  padding-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;

  .header-row {
    background-color: var(--color-header);
  }
}
label,
p,
input {
  color: var(--color-dark) !important;
}

th,
td {
  padding: 1.25rem;
  border-bottom: 1px solid var(--color-border);
  text-align: left;
  color: var(--color-dark) !important;
}
