@font-face {
  font-family: Prelo;
  src: url(../assets/fonts/Prelo-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Prelo;
  src: url(../assets/fonts/Prelo-Book.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Prelo;
  src: url(../assets/fonts/Prelo-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Prelo;
  src: url(../assets/fonts/Prelo-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Prelo-slab-bold;
  src: url(../assets/fonts/Prelo-Slab-Bold.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: Prelo-slab-book;
  src: url(../assets/fonts/Prelo-Slab-Book.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Prelo-slab-semi-bold;
  src: url(../assets/fonts/Prelo-Slab-Semi-Bold.ttf) format("truetype");
  font-weight: 700;
}
