.app-layout {
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
}

.page {
  flex: 1 1 0;
  overflow-y: auto;
  margin: 5rem auto;
  max-width: 1200px;
  padding: 0 2rem;
}

/* Media layout class */
@media screen and (max-width: 768px) {
  .page {
    margin: 1rem;
    padding: 0 1rem;
    max-width: 100%;
  }
}
