input {
  padding: 0.75rem 0.5rem;
  border: 1.5px solid var(--color-input-border);
  border-radius: 5px;
  font-size: 0.95rem;
}

input:focus-visible {
  padding: 0.75rem 0.5rem;
  border: 1px solid var(--color-input-border);
  border-radius: 5px;
  font-size: 0.95rem;
}
